@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.zm-datepicker,
.zm-calendar-container {
  transform: scale(0.85);
  transform-origin: top right;
}
.font-bold {
  font-weight: 500 !important;
}
.font-black {
  font-weight: 500 !important;
}
html, body, input, select, textarea, button {
  font-family: var(--font-vazirmatn), sans-serif !important;
}
input, select, textarea, button {
  font-family: inherit;
}
body {
  font-weight: 500;
}
.zm-datepicker,
.zm-calendar-container {
  position: absolute !important;
  top: 100% !important;
  bottom: auto !important;
  margin-top: 8px !important;
  z-index: 50 !important;
}